.matrixParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.matrixOutputGrid {
    display: grid;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #09d3ac;
    border-radius: 10px;
    width: 280px;
    height: 280px;
    overflow: hidden;
}

.small-matrix-grid-container {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    grid-gap: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}