.canvasParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clearCanvas {
    margin-top: 20px;
}

.center {
    width: 100%;
    text-align: center;
}

.canvas {
    border: 1px solid #09d3ac;
    border-radius: 10px;
    cursor: crosshair;
}