.app {
    height: 100vh;
    color: #09d3ac;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title>h1 {
    margin-bottom: 0px;
}

.title>h4 {
    margin-top: 0px;
}



button {
    border: 3px solid #09d3ac;
    border-radius: 20px;
    padding: 10px;
    color: #09d3ac;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

button:hover {
    background-color: #09d3ac66;
}

button:active {
    background-color: #09d3ac88;
}